.gap-4 {
    height: 4px;
}

.gap-8 {
    height: 8px;
}

.gap-12 {
    height: 12px;
}

.gap-16 {
    height: 16px;
}

.gap-20 {
    height: 20px;
}

.gap-24 {
    height: 24px;
}

.gap-28 {
    height: 28px;
}

.gap-32 {
    height: 32px;
}