.inputWrapper {

    display: flex;
    align-items: center;
    position: relative;
}

.label {
    display: block;
    padding-bottom: 8px;
    font-weight: 300;
}

.input,
.dateInput {
    outline: none;
    width: 100%;
    display: block;
    caret-color: inherit;
    color: var(--text-black);
    border-radius: 12px;
    border: 1px solid var(--blue);
}

.input {
    padding: 16px;
}

.inputLikeSpan {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

/* .inputWrapper .input,
.inputWrapper .dateInput {
    height: 2.1875rem;
} */

.readOnly {
    background-color: var(--background-gray);
    color: var(--text-gray);
}

.inputButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 2.5rem;
    height: 2.25rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.lightIconButton {
    color: var(--line-gray);
    font-size: 1.125rem;
}

.iconEye:before {
    content: "\e907";

}

.iconCrossedEye:before {
    content: "\e904";
}

.iconEye,
.iconCrossedEye {
    color: var(--blue);
}