.footer {
    padding: 1.875rem 0;
    background-color: var(--background-gray)
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem
}

.footer__logo {
    display: flex;
    align-items: center;
    color: var(--text-gray);
    flex: 0 0 13.125rem
}

.footer__logo img {
    width: 3.4375rem
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .625rem
}

.footer-info__menu {
    display: flex
}

.footer-info__copy {
    display: grid;
    gap: .25rem
}

.footer-info__text {
    color: var(--text-gray)
}

@media (min-width: 78.5em) {
    .footer-info__menu {
        gap: 2rem;
    }

    .footer__logo {
        gap: 1.125rem;
    }
}

@media(min-width: 47.9988em) {
    .footer-info {
        align-items: flex-end;
    }

    .footer-info__copy {
        text-align: right;
    }
}

@media (min-width:20em) and (max-width:78.5em) {
    @supports (gap:clamp(0.5rem, 0.2863247863rem + 1.0683760684vw, 1.125rem)) {
        .footer__logo {
            gap: clamp(.5rem, .2863247863rem + 1.0683760684vw, 1.125rem)
        }
    }

    @supports not (gap:clamp(0.5rem, 0.2863247863rem + 1.0683760684vw, 1.125rem)) {
        .footer__logo {
            gap: calc(.5rem + .625 * (100vw - 20rem)/ 58.5)
        }
    }

    @supports (gap:clamp(0.75rem, 0.3226495726rem + 2.1367521368vw, 2rem)) {
        .footer-info__menu {
            gap: clamp(.75rem, .3226495726rem + 2.1367521368vw, 2rem)
        }
    }

    @supports not (gap:clamp(0.75rem, 0.3226495726rem + 2.1367521368vw, 2rem)) {
        .footer-info__menu {
            gap: calc(.75rem + 1.25 * (100vw - 20rem)/ 58.5)
        }
    }
}

@media (max-width:47.99875em) {
    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-info {
        flex: 1 1 100%;
        text-align: center;
    }

    .footer-info__menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-info__copy {
        flex: 1 1 100%;
        gap: .5rem
    }
}

@media (max-width:29.99875em) {
    .footer-info {
        gap: 2.75rem
    }

    .footer-info__menu {
        flex-direction: column
    }
}