.bankruptcy-form .form {
    max-width: 59.375rem;
}

.authForm .form {
    max-width: 520px;
    width: 100%;
}

.form {
    display: grid;
}

.formItem {
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: var(--background-light-blue);
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .75rem;
    background-color: var(--background-blue);
}

.formHeader small {
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap
}

.formBody {
    display: grid;
    max-width: 37.5rem
}