.datepicker-input {
    padding: .375rem;
    padding-left: 0;
    background-color: var(--white);
    border-radius: .625rem;
    border: 1px solid var(--line-gray);
    display: flex;
    align-items: center;
    gap: .625rem;
    position: relative;
}

.calendar {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(670.667px, -526px);
    will-change: transform;
    height: 250px;
    width: 250px;
    background-color: #fff;
}

.datepicker-wrapper {
    max-width: 300px;
    width: 100%;
}